* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: oklch(27.9% 0.041 260.031);
}

@import "tailwindcss";